p{
    color: red;
    text-align: center;
    font-size: 30px;

}

h1{
    text-align: center;
    font-family: georgia;
    color: red;
}

h3{
    text-align: center;
    color: black;
    
}
a{
   color: rgb(0,255,0); 
   text-decoration: none;

}
button{
    color:blueviolet;
    background-color: white;
}
span {
    text-decoration: underline
}
textarea {
    color: pink;
}