/* 
        h1{
            color: white;
            background-color: black;

        }
     p {
        color: red;
        background-color: green;
     }
     button {
        color:black;
        background: yellow;
     } */
      /* h2{
        color:#ffff ff;
        background-color: #000000;
      }
      /* button{ */
        /* color: white;
        background: blue;
      }
      p{
        color: white;
        background-color: black;
        } */        

   div{
    background-color: blue;

   }     
   p{
    background-color: lightsalmon;
   }