div{
    height: 200px ;
    width: 500;
    background-color: lightpink;
    /* border-width: 5px;
    border-style: solid;
    border-color: blue;  */
      border: 5px solid black;
    /* border-left-color: red; */
    /* border-left-style: dashed;   */
    border-top:2px dashed black ; 
    border-top-right-radius: 50px;
    padding-top: 10px;

}
h1{
 /* border-width: 5px;
    border-style: solid;
    border-color: blue; */
    border:2px dashed green;
    border-radius: 50px;
} 
 /* do it for button padding also */