/* div{
    height: 100px;
    width: 100px;
    background-color:yellow; */
    /* transition: 1s; */
    /* margin:0 auto;
    transition: margin-top 2s ease-in-out 0.2s;
}
div:hover{
    margin-top: 400px;
    background-color: black;
    border-radius: 50%;
}  */
  /* section {
margin-top: 100px;
  }

div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
}
div:nth-of-type(2n) {
background-color: #f7bd6a;
}

div:nth-of-type(3n) {
background-color: #ebb02d;
} */
/* tranform */
 /* #one{
    transform: rotate(60deg);
 }
 #two{
    transform: scale(0.5);
 }  
 #three{
    transform: translateX(-100px); */
    /* fro both use only translate: ; */
 /* }
 #four{
    transform: skewX(20deg);
 }  

 #five{
    transform:rotate(60deg) skewY(20deg);
 }
 #six{
    box-shadow: 3px 2px 10px black
 } */
  div {
    width: 200px;
    height: 200px;
    background-color: orange;
    margin: 10px auto;
    background-image: url("https://tse3.mm.bing.net/th/id/OIP.U_VJuupQohwnzXcKMztqWgHaEo?rs=1&pid=ImgDetMain&o=7&rm=3");
    background-size: cover;
  }