.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  grid-template-rows: repeat(2, 150px); /* 2 rows of 150px height */
  gap: 10px; /* space between grid items */
  height: 500px;
  width: 80%;
  margin: 10px auto;
  background-color: azure;
  border: 2px solid black;
}
.item{
    background-color: coral;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}